@use "../../scss/breakpoint" as *;
@import "../../scss/variables";

.search_bar {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;

  input {
    flex: 7;
    margin-right: 5px;
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 10px 10px 30px;
    font-size: 1rem;
    background-color: #393e46;
    border-radius: 20px 3px 3px 20px;
    color: #f1f1f1;
    //border-color: rgb(255, 199, 96);
    //background-color: yellow;
  }

  ::placeholder {
    color: #f1f1f1;
  }

  .btn {
    flex: 3;
  }
}
